:root {
  --color-sofia: #dbd9e0;
  --color-madrid: #f30745;
  --color-axum: #8f8f8f;
  --color-alexandria: #00a5ff;
  --color-beirut: #00bf4c;
  --color-sofala: #ffffff;
  --color-rome: #e6ae2e;
  --color-tbilisi: #e0e0e0;
  --color-ibiza: #08060e;
  --color-suakin: #100f14;
  --color-varna: #1c1a23;
  --color-berbera: #292734;
  --color-pattani: #9e0b32;
  --color-kano: #ff6e94;
  --color-kutaisi: #0f6b30;
  --color-hanoi: #ff542e;
  --color-qualityBadge: #73a32f;
  --color-jaffa: #4b4767;
  --color-segment-selected: #3d3d3d;
  --opacity-odo: 0;
  --opacity-hojo: 0.04;
  --opacity-jabe: 0.08;
  --opacity-rajol: 0.12;
  --opacity-bana: 0.16;
  --opacity-neba: 0.2;
  --opacity-kurza: 0.24;
  --opacity-akbu: 0.32;
  --opacity-pake: 0.4;
  --opacity-tesa: 0.48;
  --opacity-zeton: 0.56;
  --opacity-anie: 0.64;
  --opacity-hemza: 0.72;
  --opacity-sedra: 0.8;
  --opacity-dere: 0.88;
  --opacity-adra: 0.92;
  --opacity-kima: 0.96;
  --opacity-imi: 1;
  --space-nolom: 0px;
  --space-chib: 2px;
  --space-bizat: 4px;
  --space-stitt: 6px;
  --space-osha: 8px;
  --space-sune: 10px;
  --space-lit: 12px;
  --space-nuchi: 16px;
  --space-hurasi: 20px;
  --space-mara: 24px;
  --space-riffis: 28px;
  --space-suffi: 32px;
  --space-fene: 40px;
  --space-chak: 48px;
  --space-nathi: 56px;
  --space-zass: 64px;
  --space-fipara: 72px;
  --space-drap: 80px;
  --space-mane: 96px;
  --space-anott: 128px;
  --space-sinir: 160px;
  --radius-poster: 0px;
  --radius-posterAlt: 12px;
  --radius-posterInner: 8px;
  --radius-horizontalPoster: 8px;
  --radius-horizontalPosterAlt: 12px;
  --radius-tile: 0px;
  --radius-blankBar: 0px;
  --radius-misc: 0px;
  --typo-kleodora-size: 13px;
  --typo-kleodora-line: 16px;
  --typo-amphiris-size: 15px;
  --typo-amphiris-line: 20px;
  --typo-eralato-size: 17px;
  --typo-eralato-line: 22px;
  --typo-title-size: 24px;
  --typo-title-line: 28px;
  --font-ivi: "iviSansBase", "IVI Sans Base", "ivi Sans", system-ui, sans-serif;
  --player-w: 960px;
  --player-h: 540px;
  --poster-w: 178px;
  --poster-h: 100px;
  --poster-radius: 16px;
  --color-badge-w: 12px;
  --color-badge-h: 4px;
  --seekbar-track-h: 4px;
  --seekbar-thumb: 16px;
  --seekbar-marker: 4px;
  --duration-focus: 200ms;
  --duration-scrim: 300ms;
}
